name: CI validations

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js 24.3
      uses: actions/setup-node@v3
      with:
        node-version: 24.3

    - name: Install pnpm
      run: npm install -g pnpm

    - name: Install Dependencies
      run: pnpm install

    - name: Lint
      run: pnpm lint

    - name: Test
      run: pnpm test

    - name: Build
      run: pnpm build
